php:
    - 5.5
    - 5.6

before_script:
  - cp app/config/parameters.yml.dist app/config/parameters.yml
  - composer install
  - php app/console doctrine:database:create --env=test
  - php app/console doctrine:schema:create --env=test
  - php app/console doctrine:fixtures:load -n --env=test

script:
  - phpunit -c app

notifications:
  email:
    - jon@jon.se
