<div class="modal fade" id="userEditModal" tabindex="-1" role="dialog" aria-labelledby="userEditModalLabel">
    <div class="modal-dialog" role="document" style="width: 80%;">
        <div class="modal-content">
        </div>
    </div>
</div>