<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <p>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{ path('settings') }}">Inställningar</a> |
                <a href="{{ path('fos_user_security_logout') }}">Logga ut</a>
            {% else %}
                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook'}) }}">Logga in</a>
            {% endif %}
        </p>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
