<div class="cta">
    <div class="container">

        <div class="cta-item">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <img src="/images/Kompis3.JPG" class="img-responsive" alt="Kompisbyrån" />
                </div>
                <div class="col-md-6 col-sm-6">
                    <h2>I Kompisbyrån övar vi svenska och fikar. <br /><strong>Vill du vara med?</strong></h2>
                    <p>
                        Kompisbyrån är en ideell förening som digitalt länkar samman nya och etablerade svenskar för att
                        öva svenska och utbyta kulturella erfarenheter över “kompisfikor”. Fika och öva svenska med en
                        person som du kanske annars inte skulle ha mött. Tillsammans kan vi öka gemenskapen i samhället.
                    </p>
                    <div class="caption">
                        <a href="{{ path('fos_user_registration_register') }}" class="btn btn-lg br-orange">
                            <i class="fa fa-users"></i> Bli en fikakompis
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
