<ul class="nav nav-tabs">
    {% for year in years %}
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                {{ year }} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {% for month in range(1, 12) %}
                    {% set fromString = year ~ '-' ~ month ~ '-01' %}

                    <li><a href="{{ path(route, {'from': fromString }) }}">{{ months[month] }}</a></li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>
