
<!-- Inner Page Heading -->
<div class="inner-page testimonial">
    <div class="container">
        <div class="inner-testimonial">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <!-- testimonial content -->
                    <div class="testimonial-content t-one">
                        <!-- User's image , name and designation -->
                        <h4><img src="/images/testimonials/dorry-mahlin.jpg" alt="" class="img-responsive img-circle"/>Dorry och Mahin</h4>
                        <!-- User's comment -->
                        <blockquote class="br-orange">
                            <p>
                                Hej!<br>
                                Här kommer en hälsning från Mahin och mig! Vi hade en mycket trevlig fikastund idag och har bestämt att vi ska ses snart igen! Bra matchning vad gäller våra intressen!
                            </p>
                        </blockquote>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <!-- testimonial content -->
                    <div class="testimonial-content t-two">
                        <!-- User's image , name and designation -->
                        <h4><img src="/images/testimonials/amanda-gurbet.jpg" alt="" class="img-responsive img-circle"/>Amanda och Gurbet</h4>
                        <!-- User's comment -->
                        <blockquote class="br-lblue">
                            <p>
                                Idag fikade jag med Gurbet genom . Hon har varit här i 5 månader och är redan en fena på svenska. Vi pratade om allt möjligt, situationen för kurder i Turkiet, familj, tårtor och att vi ska träffas snart igen!<br>
                                Tack för bra initiativ! 
                            </p>
                        </blockquote>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <!-- testimonial content -->
                    <div class="testimonial-content t-three">
                        <!-- User's image , name and designation -->
                        <h4><img src="/images/testimonials/johannes-massod.jpg" alt="" class="img-responsive img-circle"/>Johannes och Massod</h4>
                        <!-- User's comment -->
                        <blockquote class="br-green">
                            <p>
                                Nu har jag och Massod fikat, vi sågs på Kulturhuset och drack kaffe. Vi pratade om matlagning, religion och våra båda hemländer. Mycket trevligt!
                            </p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="cta">
    <div class="container">

        <div class="cta-item">
            <div class="row">
                <div class="col-md-1 col-sm-2">
                    <img src="/images/logo.png" class="img-responsive" alt="Kompisbyrån" />
                </div>
                <div class="col-md-8 col-sm-6">
                    <h3>I Kompisbyrån övar vi svenska och fikar. <strong>Vill du vara med?</strong></h3>
                    <p>
                        Kompisbyrån är en ideell förening som digitalt länkar samman nya och etablerade svenskar för att
                        öva svenska och utbyta kulturella erfarenheter över “kompisfikor”. Fika och öva svenska med en
                        person som du kanske annars inte skulle ha mött. Tillsammans kan vi öka gemenskapen i samhället.
                    </p>
                </div>
                <div class="col-md-3 col-sm-4 text-center">
                    <!-- CTA Buttons -->
                    <div class="caption">
                        <a href="{{ path('fos_user_registration_register') }}" class="btn btn-lg br-green">
                            <i class="fa fa-users"></i> Jag vill kompisfika
                        </a>
                    </div>
                    <a href="{{ path('fos_user_security_login') }}">Är du redan registrerad?</a>
                </div>
            </div>
        </div>
    </div>
</div>
