
<!-- Inner Page Heading -->
<div class="inner-page testimonial">
    <div class="container">
        <div class="inner-testimonial">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <!-- testimonial content -->
                    <div class="testimonial-content t-one animated">
                        <!-- User's image , name and designation -->
                        <h4><img src="img/user-xs.jpg" alt="" class="img-responsive img-circle"/>H. Rackham<span>, Atr Director</span></h4>
                        <!-- User's comment -->
                        <blockquote class="br-orange">
                            <p>Sed ut perspiciatis unde omnis iste natust error sit vol accusantium doloremque and laudantium, totam rem aperiam, eaque an ipsa quae abe illo explicabo. An oiuk nesciunt.</p>
                        </blockquote>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <!-- testimonial content -->
                    <div class="testimonial-content t-two animated">
                        <!-- User's image , name and designation -->
                        <h4><img src="img/user-xs.jpg" alt="" class="img-responsive img-circle"/>Bum Malorum<span>, M. D.</span></h4>
                        <!-- User's comment -->
                        <blockquote class="br-lblue">
                            <p>Sed ut perspiciatis unde omnis iste natust error sit vol accusantium doloremque and laudantium, totam rem aperiam, eaque an ipsa quae abe illo explicabo. An oiuk nesciunt.</p>
                        </blockquote>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <!-- testimonial content -->
                    <div class="testimonial-content t-three animated">
                        <!-- User's image , name and designation -->
                        <h4><img src="img/user-xs.jpg" alt="" class="img-responsive img-circle"/>Jhonm Eloruk<span>, Manager</span></h4>
                        <!-- User's comment -->
                        <blockquote class="br-green">
                            <p>Sed ut perspiciatis unde omnis iste natust error sit vol accusantium doloremque and laudantium, totam rem aperiam, eaque an ipsa quae abe illo explicabo. An oiuk nesciunt.</p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="cta">
    <div class="container">

        <div class="cta-item">
            <div class="row">
                <div class="col-md-1 col-sm-2">
                    <img src="/images/logo.png" class="img-responsive" alt="Kompisbyrån" />
                </div>
                <div class="col-md-8 col-sm-6">
                    <h3><strong>Naml Bero</strong> temporcum solasenda est omnis dolor</h3>
                    <p>Temporibus autem quibu drsdam eactual teachings of the great explore masty auti melectus.</p>
                </div>
                <div class="col-md-3 col-sm-4">
                    <!-- CTA Buttons -->
                    <div class="caption">
                        <a href="{{ path('fos_user_registration_register') }}" class="btn btn-lg br-green"><i class="fa fa-users"></i> Bli medlem nu!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
