services:

    form.type.registration:
        class: AppBundle\Form\RegistrationType
        tags:
            - { name: form.type, alias: app_user_registration }

    form.type.connection_request:
        class: AppBundle\Form\ConnectionRequestType
        tags:
            - { name: form.type, alias: connection_request }

    success_handler:
        class: AppBundle\Security\SuccessHandler
        arguments:
            - @router

    twig.app_extension:
        class: AppBundle\Twig\AppExtension
        arguments:
            - '@translator'
            - '@user_manager'
        tags:
            - { name: twig.extension }

    app.locale_listener:
        class: AppBundle\EventListener\LocaleListener
        arguments: ["%kernel.default_locale%"]
        tags:
            - { name: kernel.event_subscriber }

    gedmo.listener.translatable:
        class: Gedmo\Translatable\TranslatableListener
        tags:
            - { name: doctrine.event_subscriber, connection: default }
        calls:
            - [ setAnnotationReader, [ @annotation_reader ] ]
            - [ setDefaultLocale, [ %locale% ] ]
            - [ setTranslationFallback, [ true ] ]

    app.user_mailer:
        class: AppBundle\Mailer\UserMailer
        arguments:
            - @mailer
            - @router
            - @templating
            - @translator

    app.mailer:
        class: AppBundle\Mailer\Mailer
        arguments:
            - @mailer
            - @router
            - @templating

    app.form.boolean_choice:
        class: AppBundle\Form\ChoiceTypeBoolean
        tags:
            - { name: form.type, alias: boolean_choice }

    validator.user_has_music_categories:
        class: AppBundle\Validator\Constraints\UserHasMusicCategoriesValidator
        tags:
            - { name: validator.constraint_validator, alias: user_has_music_categories }

    voter.municipality:
        class: AppBundle\Security\Authorization\Voter\MunicipalityVoter
        public: false
        tags:
            - { name: security.voter }

    normalizer.pre_match:
        class: AppBundle\Serializer\Normalizer\PreMatchNormalizer
        tags:
            - { name: serializer.normalizer }

    manager.pre_match:
        class: AppBundle\Manager\PreMatchManager
        arguments:
            - "@connection_request_repository"
            - "@user_repository"
            - "@doctrine.orm.entity_manager"
