{% extends 'base.html.twig' %}

{% block body %}

    <div class="inner-page">
        <div class="container">

            {{ form_start(form) }}
            {{ form_widget(form) }}

            <input type="submit" value="Spara">
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
