.page a:not(.btn) {
    text-decoration: underline;
}

.help-block .list-unstyled {
    color: red;
}

.navbar-default {
    padding-top: 20px;
}

.language-choice {
    position: absolute;
    right: 10%;
    z-index: 2000;
}

.language-choice a {
    display: inline-block;
    width: 90px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background: #bba6ff;
    text-decoration: none !important;
}

.btn-orange {
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    border: solid 1px #bba6ff;
    color: #fff;
    transition: all 0.3s;
    background: #bba6ff;
}

.candidate {
    background-color: #efeded;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 15px 0;
}

.candidate .score {
    font-size: 42px;
    font-size: bold;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    color: #bba6ff;
}

.candidate .interests {
    font-weight: bold;
}

.matches {
    color: #bba6ff;
}

.candidate .presentation {
    border-right: 1px dashed #ccc;
}

.candidate .choice {
    font-size: 22px;
    text-align: center;
}

.candidate .choice input {
    margin-top: 40px;
    display: inline;
}

.more-candidates {
    text-align: center;
}

div.textarea {
    min-height: 90px !important;
    height: auto;
}

div.form-control {
    background-color: #efeded !important;
}

div.candidate a.google-link {
    color: #666;
    text-decoration: none !important;
}

div.candidate span.matches a.google-link {
    color: #bba6ff;
    text-decoration: none;
}

.checkableList label {
    margin-right: 20px;
}

.checkableList label > input[type="radio"], .checkableList label > input[type="checkbox"] {
    margin-right: -20px;
}
.nav-head .navbar-default .logo img{
    width: 265px;
    display: inline;
    margin: 0 10px 0 0;
}
.text-muted {
    color: #9a9a9a;
}
.nav-head .navbar-default  .navbar-nav > li.open a{
    background: none;	
    color: #555;
}
.nav-head .navbar-default  .navbar-nav > li > a:active,
.nav-head .navbar-default  .navbar-nav > li > a:focus{
    background: none !important;
    color: #555;
}

.btn-orange{
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    border: solid 1px #bba6ff;
    color: #fff;
    transition: all 0.3s;
}
.btn {
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
}

.btn-orange:hover {
    background-color: #fff;
    color: #bba6ff;
}

.btn-orange a i{
    display: inline-block;
    margin-right: 5px;
}
h2 span {
    line-height: 2em;
}
h3 {
    color: #bba6ff;
    margin-top: 1.7em;
}
.btn-super-lg {
    padding: 0.7em 1.3em;
    font-size: 1.5em;
}

.line-behind {
    margin: 20px 0 10px 0;
    position: relative;
    text-align: center;
    z-index: 1;
}

.line-behind:before {
    border-top: 1px solid black;
    content:"";
    margin: 0 auto; /* this centers the line to the full width specified */
    position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 12px; left: 0; right: 0; bottom: 0;
    z-index: -1;
}

.line-behind span {
    /* to hide the lines from behind the text, you have to set the background color the same as the container */
    background: #fff;
    padding: 0 15px;
}
.box {
    border: solid 1px #ccc;
}
.box h3 {
    margin-top: 1em;
}
.vertical-align {
    display: flex;
    align-items: center;
}
