.page a:not(.btn) {
    text-decoration: underline;
}

.help-block .list-unstyled {
    color: red;
}

.navbar-default {
    padding-top: 20px;
}

.language-choice {
    position: absolute;
    right: 10%;
    z-index: 2000;
}

.language-choice a {
    display: inline-block;
    width: 90px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background: #F76753;
    text-decoration: none !important;
}

.btn-orange {
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    border: solid 1px #F76753;
    color: #fff;
    transition: all 0.3s;
    background: #F76753;
}

.candidate {
    background-color: #efeded;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 15px 0;
}

.candidate .score {
    font-size: 42px;
    font-size: bold;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    color: #F76753;
}

.candidate .interests {
    font-weight: bold;
}

.candidate .matches {
    color: #F76753;
}

.candidate .presentation {
    border-right: 1px dashed #ccc;
}

.candidate .choice {
    font-size: 22px;
    text-align: center;
}

.candidate .choice input {
    margin-top: 40px;
    display: inline;
}

.more-candidates {
    text-align: center;
}

div.textarea {
    min-height: 90px !important;
    height: auto;
}

div.form-control {
    background-color: #efeded !important;
}

div.candidate a.google-link {
    color: #666;
    text-decoration: none !important;
}

div.candidate span.matches a.google-link {
    color: #F76753;
    text-decoration: none;
}

.checkableList label {
    margin-right: 20px;
}

.checkableList label > input[type="radio"], label > input[type="checkbox"] {
    margin-right: -20px;
}