{% extends 'base.html.twig' %}

{% block body %}
    <div class="inner-page testimonial">
        <div class="container">

            <div class="row" style="margin-top: 40px;">
                <table class="table table-bordered" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Date for request</th>
                        <th>Namn</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for connectionRequest in connectionRequests %}
                        <tr>
                            <td>{{ connectionRequest.createdAt|date('Y-m-d') }}</td>
                            <td>{{ connectionRequest.user.name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

{% endblock %}
