{% extends 'base.html.twig' %}

{% block body %}
    <div class="inner-page testimonial">
        <div class="container">

            <div class="row" style="margin-top: 40px;">
                <table class="table table-bordered" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Date for request</th>
                        <th>Namn</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for connectionRequest in connectionRequests %}
                        <tr>
                            <td>{{ connectionRequest.createdAt|date('Y-m-d') }}</td>
                            <td>
                                <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#userModal" data-user="{{ connectionRequest.user.id }}"><i class="fa fa-user fa-fw"></i>View user</button>
                                {{ connectionRequest.user.name }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    {% include('municipality/modal.html.twig') %}

{% endblock %}

{% block javascripts %}
<script>
    {% include('municipality/modal.js.twig') %}
</script>
{% endblock %}
