{% extends 'baseEmail.html.twig' %}

{% block body %}
    <p>
        Hej!
    </p>
    <p>
        Du får det här mailet eftersom du har blivit matchad med en startkompis. Startkompis är ett samarbete mellan din kommun och den ideella organisationen Kompisbyrån. Syftet med projektet är att stödja nyanlända för att ge dem en bra start i sin nya kommun. Genom att länka samman etablerade och nya kommunbor vill vi även göra det enkelt för alla att skapa nya kontakter och vänskaper i det gemensamma närområdet. 
    </p>
    <p>
        Nu skulle vi bli väldigt tacksamma om du tog dig tid att svara på några frågor om din upplevelse av att träffa en startkompis. Det är en kort undersökning som inte tar många minuter, men där dina svar är otroligt viktiga för vårt fortsatta arbete. Tryck här för att komma till enkäten: <a href="https://goo.gl/forms/3r0ZYQVFUhxrjR5f1">https://goo.gl/forms/3r0ZYQVFUhxrjR5f1</a>. 
    </p>
    <p>
        Ni inspirerar! Om du inte redan har gjort det, skicka gärna ett foto från ert möte tillsammans med några meningar om vad ni gjorde och hur det var (med bådas samtycke). Maila hälsningen till oss så delar vi den gärna digitalt. Eller hashtagga själv med #kompisbyrån eller #kompisbyran. 
    </p>
    <p>
        Du är alltid varmt välkommen att anmäla dig till en ny kompismatchning genom att logga in på vår hemsida med din email och ditt lösenord: <a href="{{ url('login') }}">{{ url('login') }}</a>.
    </p>
    <p>
        Bästa hälsningar och stort tack för ditt engagemang,<br>
        Vännerna på Kompisbyrån
    </p>
{% endblock %}
