{% extends 'baseEmail.html.twig' %}

{% block body %}
<p>
    Hej!
</p>
<p>
    Hoppas du hade ett trevligt möte med din nya kompis. Nu har det gått en tid sedan du blev matchad, och vi skulle bli jätteglada om du ville svara på några frågor så att Kompisbyrån kan bli bättre. Det går snabbt och du svarar anonymt: <a href="https://goo.gl/forms/DKypInHhirG86zP43">https://goo.gl/forms/DKypInHhirG86zP43</a>.
</p>
<p>
    Ni inspirerar! Om du inte redan har gjort det, skicka gärna ett foto från ert möte tillsammans med några meningar om vad ni gjorde och hur det var (med bådas samtycke). Maila hälsningen till oss så delar vi den gärna digitalt. Eller hashtagga själv med #kompisbyrån eller #kompisbyran. 
</p>
<p>
    Om ni kommer bra överens är det bara att ni fortsätter hålla kontakten, om inte så hoppas vi att du hade ett minnesvärt möte. Du är alltid varmt välkommen att anmäla dig till en ny kompisfika genom att logga in på vår hemsida med din email och ditt lösenord: <a href="{{ url('login') }}">{{ url('login') }}</a>.
</p>
<p>
    Stort tack för din hjälp! 
</p>
<p>
    Bästa hälsningar, <br>
    Vännerna på Kompisbyrån
</p>
<p>
    -----------English-----------
</p>
<p>
    Hello!
</p>
<p>
    We hope you had a nice meeting with your new friend from Kompisbyrån. It has now been some time since we matched you, and we would be so happy if you could answer a few questions so that we can improve our work. It's quick and you respond anonymously: <a href="https://goo.gl/forms/DKypInHhirG86zP43">https://goo.gl/forms/DKypInHhirG86zP43</a>.
</p>
<p>
    The stories from your meetings inspire people. If you haven't already done this, please send us a photo from your meeting along with a couple of sentences about what you did and how it was (with approval from both of you). If you send it to us, we will share it digitally. Or feel free to hashtag #kompisbyrån or #kompisbyran.
</p>
<p>
    If you want to you can just continue to meet each other. If not, we hope that you had a memorable time. You are always welcome to sign up for a new meeting by logging on to our website with your email and password: <a href="{{ url('login') }}">{{ url('login') }}</a>. 
</p>
<p>
    Thank you for helping us!
</p>
<p>
    Best regards,<br>
    Your friends at Kompisbyrån
</p>
{% endblock %}
