{% extends 'baseEmail.html.twig' %}

{% block body %}
    <p>
        Hej!
    </p>
    <p>
        Du får det här mailet eftersom du har blivit matchad med en startkompis och vi är nyfikna på hur det har gått. Därför skulle vi bli väldigt tacksamma om du tog dig tid att svara på några frågor om startkompis. Det är en kort undersökning som inte tar många minuter, men där dina svar är otroligt viktiga för vårt fortsatta arbete. Tryck här för att komma till enkäten: <a href="https://goo.gl/forms/DMDY2iM745ZUAzQY2">https://goo.gl/forms/DMDY2iM745ZUAzQY2</a>. 
    </p>
    <p>
        Ni inspirerar! Om du inte redan har gjort det, skicka gärna ett foto från ert möte tillsammans med några meningar om vad ni gjorde och hur det var (med bådas samtycke). Maila hälsningen till oss så delar vi den gärna digitalt. Eller hashtagga själv med #kompisbyrån eller #kompisbyran. 
    </p>
    <p>
        Du är alltid varmt välkommen att anmäla dig till en ny kompismatchning genom att logga in på vår hemsida med din email och ditt lösenord: <a href="{{ url('login') }}">{{ url('login') }}</a>.
    </p>
    <p>
        Bästa hälsningar och stort tack för ditt engagemang,<br>
        Vännerna på Kompisbyrån
    </p>
    <p>
        ********English********
    </p>
    <p>
        Hi!
    </p>
    <p>
        You are receiving this e-mail because you have been matched with a startkompis (start friend) and we are wondering how everything went.
    </p>
    <p>
        We would be very grateful if you would take some time to answer a few questions about meeting a startkompis (start friend). It is just a couple of questions and it doesn't take more than a few minutes to answer, but your feedback is very important to us and our future work with Startkompis. Please click here to begin answering: <a href="https://goo.gl/forms/42SGbfNIdnsaKGR72">https://goo.gl/forms/42SGbfNIdnsaKGR72</a>. 
    </p>
    <p>
        The stories from your meetings inspire people. If you haven't already done this, please send us a photo from your meeting along with a couple of sentences about what you did and how it was (with approval from both of you). If you send it to us, we will share it digitally. Or feel free to hashtag #kompisbyrån or #kompisbyran.
    </p>
    <p>
        If you want to you can just continue to meet each other. If not, we hope that you had a memorable time. You are always welcome to sign up for a new meeting by logging on to our website with your email and password: <a href="{{ url('login') }}">{{ url('login') }}</a>
    </p>
    <p>
        Best regards and thank you for participating,<br>
        Your friends at Kompisbyrån
    </p>
{% endblock %}
