{% extends 'base.html.twig' %}

{% block body %}

    <div class="inner-page about-us">
        <div class="container">
            <h2><strong>Om Kompisbyrån</strong></h2>
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <p>
                        Emma Hammar och Cecilia Holmgren startade den ideella organisationen Kompisbyrån 2014 för
                        att öka gemenskapen i samhället genom att skapa möten mellan nya kompisar i vardagen. 
                        Kompisbyrån länkar digitalt samman nya kompisar med olika bakgrund, erfarenhet och kultur 
                        men med liknande intressen. De träffas över en fika, en kompisfika. Idag har tusentals 
                        fikakompisar lärt känna varandra över en kompisfika. Flera fikor har lett till jobb, 
                        många har lett till vänskap. Kompisbyrån är partipolitiskt och religiöst obunden.
                        Vi länkar samman nya kompisar som kan träffas i Göteborg, Jönköping, Linköping, Malmö, 
                        Stockholm, Umeå, Uppsala, Västerås eller Örebro.
                    </p>
                    <h3>Varför kompisfika?</h3>
                    <p>
                        En fika är något som av många ses som centralt i svensk kultur och är associerat med 
                        något lättsamt, avslappnat och roligt. Därför tycker vi att det är väldigt passande att 
                        träffas och öva svenska över just en fika.
                    </p>
                    <img src="/images/Kompis2.JPG" class="img-responsive" alt="Vi som jobbar med Kompisbyrån" />
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="well br-white border-orange black">
                        <h4>Vi som jobbar med Kompisbyrån</h4>
                        <p>
                             Emma Hammar, grundare <a href="mailto:emma@kompisbyran.se">emma@kompisbyran.se </a><br>
                            Cecilia Holmgren, grundare
                            <a href="mailto:cecilia@kompisbyran.se ">cecilia@kompisbyran.se </a><br>
                            Eva Ramström, Kompisledare Västerås<br>
                            Gabriella Hernqvist, Jönköping, Linköping, Umeå och Uppsala<br>
                            Helena Rewucha, Kompisledare Göteborg<br>
                            Helena Wannberg, Kompisledare Örebro<br>
                            Isis Pinon, Kompisledare Malmö<br>
                            Jennifer Silander, Stockholm<br>
                            Jens Östgaard, Kompisledare Göteborg<br>
                            Jon Gotlin, IT<br>
                            Jonas Ouadih, Kompisledare Malmö<br>
                            Louise Koelman, Stockholm<br>
                            Maria Jäder, Kompisledare Västerås<br>
                            Mikael Öhrén, Stockholm<br>
                            Sofia Winroth, Kompisledare Örebro<br>
                            Stella Hernström, Stockholm
                        </p>
                    </div>
                    <div class="well br-white border-orange black">
                        <p>
                            Frågor om matchningen? Maila den stad som du vill träffas i:<br>
                            Göteborg: <a href="mailto:goteborg@kompisbyran.se">goteborg@kompisbyran.se</a><br>
                            Jönköping: <a href="mailto:matchning@kompisbyran.se">matchning@kompisbyran.se</a><br> 
                            Linköping: <a href="mailto:matchning@kompisbyran.se">matchning@kompisbyran.se</a><br>
                            Malmö: <a href="mailto:malmo@kompisbyran.se">malmo@kompisbyran.se</a><br>
                            Stockholm: <a href="mailto:stockholm@kompisbyran.se">stockholm@kompisbyran.se</a><br>
                            Umeå: <a href="mailto:matchning@kompisbyran.se">matchning@kompisbyran.se</a><br>
                            Uppsala: <a href="mailto:matchning@kompisbyran.se">matchning@kompisbyran.se</a><br>
                            Västerås: <a href="mailto:vasteras@kompisbyran.se">vasteras@kompisbyran.se</a><br>
                            Örebro: <a href="mailto:orebro@kompisbyran.se">orebro@kompisbyran.se</a><br>
                            Frågor om samarbete, rekrytering, press eller övrigt? Kontakta Emma eller Cecilia. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
