{% extends 'base.html.twig' %}

{% block body %}

    <div class="inner-page">
        <div class="container">
            <h2><strong>Om Kompisbyrån</strong></h2>
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <p>
                        Emma Hammar och Cecilia Holmgren startade Kompisbyrån i januari 2014. Idag har tusentals
                        människor från 63 länder länkats samman över kompisfikor - där en person som vill öva svenska
                        träffar en person som vill lära ut svenska på ett offentligt kafé i ca 1 timme. Kompisbyrån vill
                        göra det enkelt för fler att bidra i sin vardag. En kompisfika är ett kulturellt utbyte mellan
                        personer med olika bakgrund och erfarenheter men med liknande intressen.
                    </p>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="well br-white border-orange black">
                        <h4>Vi som jobbar med Kompisbyrån</h4>
                        <p>
                             Emma Hammar, grundare <a href="mailto:emma@kompisbyran.se">emma@kompisbyran.se </a><br>
                            Cecilia Holmgren, grundare
                            <a href="mailto:cecilia@kompisbyran.se ">cecilia@kompisbyran.se </a><br>
                            Gabriella Hernqvist, medarbetare <br>
                            Noa Bachner, medarbetare <br>
                            Stella Hernström, medarbetare<br>
                             Stina Wäppling, medarbetare
                        </p>
                    </div>
                    <div class="well br-white border-orange black">
                        <p>
                            Vi skickar matchningsmail från e-mail: matchning@kompisbyran.se
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
