{% extends 'base.html.twig' %}

{% block body %}

    <div class="inner-page about-us">
        <div class="container">
            <h2><strong>{{ 'page.about.header'|trans }}</strong></h2>
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    {{ 'page.about.text'|trans|raw }}
                    <img src="/images/Kompis2.JPG" class="img-responsive" alt="Vi som jobbar med Kompisbyrån" />
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="well br-white border-orange black">
                        {{ 'page.about.well1'|trans|raw }}
                    </div>
                    <div class="well br-white border-orange black">
                        {{ 'page.about.well2'|trans|raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
