{% extends 'base.html.twig' %}

{% block body %}

    <div class="inner-page about-us">
        <div class="container">
            <h2><strong>Om Kompisbyrån</strong></h2>
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <p>
                        Emma Hammar och Cecilia Holmgren startade den ideella organisationen Kompisbyrån 2014. 
                        Kompisbyrån hjälper människor som har bott i Sverige under lång tid och som vill bredda
                        sitt kontaktnät, att träffa och öva svenska med människor som av olika anledningar kommit 
                        till Sverige och som vill bli bättre på att prata svenska. 
                        
                        Vi länkar digitalt samman fikakompisar med gemensamma intressen som träffas över en fika, 
                        en kompisfika, och pratar svenska. Vi vill göra det enklare för fler människor med olika 
                        bakgrund, erfarenhet och kultur men med liknande intressen, att mötas och lära känna nya 
                        kompisar i vardagen. 
                        
                        Idag har tusentals fikakompisar från 79 länder lärt känna varandra över kompisfikor. 
                        Flera fikor har lett till jobb. Många har lett till vänskap. Träffa nya kompisar som du 
                        annars kanske inte skulle ha mött - bli en fikakompis!
                        
                        Varför kompisfika?
                        Vi startade Kompisbyrån för att vi vill skapa en ökad gemenskap i samhället. Vi tycker att det 
                        känns orättvist att en del blir missgynnade för att de inte kan det svenska språket eller blir 
                        exkluderade för att de inte känner personer som har bott i Sverige länge. Alla människor föds 
                        in i ett språk och ett socialt sammanhang. Bara för att vissa inte har möjlighet att bo kvar så 
                        blir det sedan svårare att få jobb, bostad och nya vänner.
                        
                        En fika är något som av många ses som centralt i svensk kultur och är associerat med något lättsamt, 
                        avslappnat och roligt. Därför tycker vi att det är väldigt passande att öva svenska över just en fika.
                    </p>
                    <img src="/images/Kompis2.JPG" class="img-responsive" alt="Vi som jobbar med Kompisbyrån" />
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="well br-white border-orange black">
                        <h4>Vi som jobbar med Kompisbyrån</h4>
                        <p>
                             Emma Hammar, grundare <a href="mailto:emma@kompisbyran.se">emma@kompisbyran.se </a><br>
                            Cecilia Holmgren, grundare
                            <a href="mailto:cecilia@kompisbyran.se ">cecilia@kompisbyran.se </a><br>
                            Gabriella Hernqvist, medarbetare <br>
                            Noa Bachner, medarbetare <br>
                            Stella Hernström, medarbetare<br>
                             Stina Wäppling, medarbetare<br>
                             Susanne Toscha, medarbetare
                        </p>
                    </div>
                    <div class="well br-white border-orange black">
                        <p>
                            Vi skickar matchningsmail från e-postadressen: matchning@kompisbyran.se
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
