{% extends 'base.html.twig' %}

{% block body %}

<div class="inner-page">
    <div class="container">
        <h2><strong>Bli Fikakompis</strong></h2>
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <p>
                    Kompisbyrån länkar digitalt samman nya fikakompisar med gemensamma intressen som träffas över en fika, 
                    en kompisfika, och pratar svenska. Den ena personen är ny i Sverige och vill öva sin svenska och den 
                    andra personen pratar flytande svenska och har bott i Sverige länge. Båda personerna vill träffa en ny 
                    fikakompis och utbyta erfarenheter. Idag har tusentals fikakompisar lärt känna varandra över en kompisfika. 
                    Träffa nya kompisar som du annars kanske inte skulle ha mött - bli en Fikakompis!
                </p>
                <p> 
                <h3>Så här går det till:</h3>
                </p>
                <p>    
                    1. Registrera dig som fikakompis genom att trycka på "Bli Fikakompis"-knappen. Det är gratis att registrera sig. 
                    Läs igenom Kompisbyråns villkor innan. 
                </p>
                <p>
                    2. Vi hittar en fikakompis till dig som har liknande intressen som du har. Vi mailar dig fikakompisens e-mail. 
                </p>
                <p>
                    3. Du mailar din fikakompis och bestämmer vilken dag, tid och plats ni ska träffas. Vi rekommenderar att ni 
                    träffas i ungefär 1 timme på ett kafé. 
                </p>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="well br-white border-orange black">
                    <p>
                         En kompisfika sker en gång. Gillar ni varandra får ni gärna träffas igen själva. 
                         Vill du träffa en ny fikakompis? Logga in och anmäl dig igen. 
                    </p>
                </div>
                <div class="well br-white border-orange black">
                    <p>
                        Observera att fikan äger rum i centrala delen av staden (om ni inte kommer överens om annat).
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'ctaBox.html.twig' %}

{% endblock %}
