{% extends 'base.html.twig' %}

{% block body %}

<div class="inner-page">
    <div class="container">
        <h2><strong>Bli en fikakompis</strong></h2>
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <p>
                    1. Gå med i Kompisbyrån. Det är gratis att anmäla sig. Skriv din e-post, ett lösenord som du bestämmer själv
                    och klicka på "Gå med". 
                    Läs igenom Kompisbyråns villkor. 
                </p>
                <p>
                    2. Berätta om dig själv. Skriv ditt namn, ålder, intressen och svara på några fler frågor. 
                </p>
                <p>
                    3. Matchning. Vi hittar en fikakompis till dig och mailar dig personens e-postadress.
                </p>
                <p>
                    4. Du mailar din fikakompis och bestämmer vilken dag, tid och plats ni ska träffas. 
                    Vi rekommenderar att ni träffas i ungefär 1 timme på ett kafé.  
                </p>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="well br-white border-orange black">
                    <p>
                         En kompisfika sker en gång. Gillar ni varandra får ni gärna träffas igen själva. 
                         Vill du träffa fler kompisar, loggar du in och anmäler dig igen. 
                    </p>
                </div>
                <div class="well br-white border-orange black">
                    <p>
                        Observera att fikan äger rum i centrala delen av staden (om ni inte kommer överens om annat).
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'ctaBox.html.twig' %}

{% endblock %}
