{% extends 'base.html.twig' %}

{% block body %}

    <div class="inner-page musikkompis">
        <div class="container">
            <img src="{{ asset('images/musikkompis.png') }}" alt="Musikkompis" class="img-responsive center-block">

            <p class="lead text-center">
                Dela musikupplevelser med människor från andra kulturer. Vi vet att musik är en stark förenande kraft.
                Därför startar vi nu Musikkompis, tillsammans med mobiloperatören 3, för alla som vill mötas genom musik.
                Det kan vara allt från att spela musik tillsammans, lyssna eller prata musik över en fika.
            </p>
            <p>
                Musik är en förenande kraft. Genom att dela musikupplevelser med varandra kan vi skapa många stunder av
                gemenskap och samhörighet oavsett var du kommer ifrån eller tror på. Stunder som i slutändan bidrar till
                större tolerans och ökad förståelse i samhället. Därför har vi startat projektet Musikkompis – ett ideellt
                samarbete mellan 3 och Kompisbyrån som syftar till att med musikens hjälp stärka integrationen och gemenskapen
                i samhället. Vi vill ge fler möjlighet att utöva musik tillsammans, människor som på olika nivåer sysslar med
                musik: artister, källarband, DJ:s, klassiska musiker, konsertbesökare och andra musikintresserade.
                Bli Musikkompis du också!
            </p>
            <div class="text-center">
                <a href="{{ path('fos_user_registration_register') }}" class="btn btn-lg br-orange">
                    {{ 'homepage.cta.musicfriend.button'|trans }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
<!-- Footer Start -->
<div class="footer--music">
    <div class="footer-inner">
        <div class="container">
            <div class="row">
            
            <div class="col-md-6 col-s-12">
                <div class="footer-widget">
                    <h4>Kontakta oss</h4>
                    <p>
                        <span class="mute">E-mail</span>:
                        <a href="mailto:kontakt@kompisbyran.se">kontakt@kompisbyran.se</a><br />
                    </p>
                    <div class="social">
                        <a href="https://www.facebook.com/kompisbyran" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.twitter.com/kompisbyran" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.instagram.com/kompisbyran" class="instagram"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-s-12">
                <div class="footer-logos">
                    <img src="/images/neverstopsharing.png" class="img-responsive" alt="" />
                </div>
            </div>

            </div>

        </div>
    </div>
</div>
<!-- Footer End -->
{% endblock %}
