{% extends 'base.html.twig' %}

{% block body %}

    <div class="inner-page">
        <div class="container">
            <h2><strong>Musikompis</strong></h2>
        </div>
    </div>

{% endblock %}
