{% extends 'base.html.twig' %}

{% block body %}

    <div class="inner-page">
        <div class="container">
            <h2><strong>Villkor</strong></h2>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <p>
                        Kompisbyrån förmedlar kontakten mellan personer som vill förbättra sin svenska med personer som
                        vill hjälpa någon att förbättra sin svenska.
                    </p>
                    <ul>
                        <li>
                            Fikan sker i Stockholm. Utgångspunkten är att fikan äger rum i <em>centrala Stockholm</em>.
                        </li>
                        <li>
                            Kompisbyrån kontaktar dig först när vi funnit en matchning.
                        </li>
                        <li>
                            Du förväntas att höra av dig till din nya fikakompis och <em>boka in fikan inom en vecka
                            </em> räknat från att matchningen har gjorts.
                        </li>
                        <li>
                            Kompisbyrån rekommenderar att fikan sker på en <em>offentlig plats</em> i cirka 1 timme. Du
                            och din nya fikakompis bestämmer gemensamt datum, tid och plats.
                        </li>
                        <li>
                            Att matchas ihop av Kompisbyrån är gratis. Dock måste du betala själv för den fika du vill
                            ha.
                        </li>
                        <li>
                            Åldersgräns för att kompisfika är 18 år.
                        </li>
                        <li>
                            En kompisfika är till en början något som sker <em>en gång</em>. Vill du kompisfika igen
                            kontaktar du oss.
                        </li>
                        <li>
                            Kompisbyrån ansvarar endast för att matcha ihop personer som vill öva sin svenska med
                            personer som vill hjälpa till att öva sin svenska.
                        </li>
                        <li>
                            Genom att registrera dig via vårt formulär här på hemsidan försäkrar du att din information
                            är korrekt. Du godkänner även att dina angivna uppgifter: behandlas enligt PUL och hamnar i
                            Kompisbyråns register så att vi kan matcha ihop dig med en ny fikakompis, kan komma att
                            läggas ut på Kompisbyråns Facebooksida i syfte att hitta en ny kompis (OBS: Inga
                            kontaktuppgifter såsom mailadress eller telefonnummer läggs ut offentligt), att din
                            mailadress skickas till din nya fikakompis, att vi bjuder in dig till Kompisbyråns
                            aktiviteter såsom event.
                        </li>
                        <li>
                            Om du vill ändra något i din anmälan eller avregistrera dig mailar du oss på
                            kontakt@kompisbyran.se.
                        </li>
                        <li>
                            Vi jobbar aktivt för att hela tiden förbättra vårt arbete. Därför kommer vi att kontakta dig
                            efter du har fikat för att vi vill höra dina synpunkter och erfarenheter. Skicka gärna en
                            egen fikahälsning med några rader om din upplevelse och en bild så delar vi gärna på vår
                            Facebooksida för att uppmuntra fler till att vara med.
                        </li>
                        <li>
                            Kompisbyrån kan inte garantera att vi hittar en matchning till dig. Vi gör alltid vårt
                            yttersta för att sammanlänka personer så snabbt som möjligt men det beror på hur specifika
                            önskemål du har, hur många som söker fikakompis för tillfället och hur snabbt vi hittar en
                            passande matchning till dig. Vi jobbar för att matchningen ska göras inom en månad från det
                            att du registrerar dig, dock kan det ta både kortare eller längre tid. Kom ihåg att vi på
                            Kompisbyrån jobbar ideellt med detta :-)
                        </li>
                    </ul>
                    <p>Tack för att ni accepterar Kompisbyråns villkor!</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
