{% extends 'base.html.twig' %}

{% block body %}

    <div class="inner-page">
        <div class="container">
            <h2><strong>Villkor</strong></h2>
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <p>
                        Kompisbyrån förmedlar kontakten mellan personer som vill förbättra sin svenska med personer som
                        vill hjälpa någon att förbättra sin svenska.
                    </p>
                    <ul>
                        <li>
                            Du betalar bara för din egen fika. Att anmäla sig är gratis.
                        </li>
                        <li>
                            Alla över 18 år är välkomna!
                        </li>
                        <li>
                            Kompisbyrån rekommenderar att ni träffas ca 1 timme på ett offentligt ställe i stadens centrala del.
                        </li>
                        <li>
                            Kompisbyrån mailar dig först när vi har hittat en fikakompis.
                        </li>
                        <li>
                            Du bör maila din nya fikakompis och bestämma när ni kan träffas inom en vecka.
                        </li>
                        <li>
                            En kompisfika sker en gång. Gillar ni varandra får ni gärna träffas igen själva. 
                            Vill du träffa fler kompisar, loggar du in och anmäler dig igen.
                        </li>
                        <li>
                            Kompisbyrån ansvarar endast för att matcha ihop personer som vill öva sin svenska 
                            med personer som vill hjälpa till att öva svenska.
                        </li>
                        <li>
                            När du fyllt i formuläret försäkrar du att din information är korrekt och godkänner 
                            att informationen: behandlas enligt PUL och hamnar i Kompisbyråns register så att vi 
                            kan hitta en ny fikakompis till dig, att din e-postadress skickas till din nya fikakompis 
                            och att vi bjuder in dig till Kompisbyråns aktiviteter såsom event.
                        </li>
                        <li>
                            Vi vill hela tiden bli bättre på vårt arbete. Därför mailar vi dig efter att du har träffat din fikakompis.
                        </li>
                        <li>
                            Om du vill ångrar dig och vill avregistrera dig, mailar du kontakt@kompisbyran.se.
                        </li>
                        <li>
                            Kompisbyrån kan inte garantera att vi hittar en fikakompis till dig. Vi gör alltid vårt bästa för att 
                            hitta en fikakompis till dig så snabbt som möjligt.
                        </li>
                    </ul>
                    <p>Tack för att du accepterar Kompisbyråns villkor!</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
