{% extends 'base.html.twig' %}

{% block body %}

    <div class="inner-page">
        <div class="container">
            <div class="row">
            <div class="col-md-2 col-sm-0"></div>
                <div class="col-md-8 col-sm-12">
                    <h2><strong>Villkor</strong></h2>
                    <p>
                        Kompisbyrån förmedlar kontakten mellan personer som är nya i Sverige med personer som har bott i Sverige länge. 
                    </p>
                    <ul>
                        <li>
                            Kompisbyrån skapar kontakt mellan nya Fikakompisar och Musikkompisar baserat på gemensamma intressen. 
                            Kompisbyrån ansvarar endast för att matcha ihop personer som har bott i Sverige under kortare tid med 
                            personer som har bott i Sverige länge.
                        </li>
                        <li>
                            Alla över 18 år är välkomna!
                        </li>
                        <li>
                            Du betalar bara för din egen fika, att registrera sig är gratis.
                        </li>
                        <li>
                            Kompisbyrån rekommenderar att ni träffas ungefär 1 timme på ett offentligt ställe i stadens centrala del.
                        </li>
                        <li>
                            När du har registrerat din ansökan lovar du att din information är korrekt och godkänner att informationen; 
                            behandlas enligt PUL och hamnar i Kompisbyråns register så att vi kan hitta en ny kompis till dig, 
                            att din e-mail skickas till din nya kompis, och att vi bjuder in dig till Kompisbyråns aktiviteter såsom 
                            event.
                        </li>    
                        <li>
                            Vår ambition är att hitta en ny kompis till dig inom 14 dagar, men det kan ta både kortare och längre tid 
                            beroende på din profil och hur många personer som också vill träffa nya kompisar. Det innebär att du kan 
                            få vänta.
                        </li>
                        <li>
                            När vi har tagit emot din ansökan, bekräftar vi detta genom att skicka ett e-mail till dig, oftast inom 48 timmar.
                        </li>
                        <li>
                            Du bör skicka ett e-mail din nya fikakompis och bestämma när ni kan träffas inom 7 dagar.
                        </li>
                        <li>
                            En kompisfika sker en gång. Gillar ni varandra får ni gärna träffas igen själva. Vill du träffa en ny kompis, 
                            loggar du in och anmäler dig igen.
                        </li>
                        <li>    
                            Om du vill avregistrera dig, skicka ett e-mail till kontakt@kompisbyran.se.
                        </li>
                        <li>
                            Kompisbyrån kan inte garantera att vi hittar en ny kompis till dig men vi gör alltid vårt bästa.
                        </li>
                        <li>
                            Vi vill hela tiden bli bättre på vårt arbete. Därför skickar vi ett e-mail till dig efter att du har 
                            träffat din nya kompis och frågar hur ert möte var.
                        </li>
                    </ul>
                    <p>Tack för att du accepterar Kompisbyråns villkor!</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
