{% extends 'base.html.twig' %}

{% block body %}

    <div class="inner-page">
        <div class="container">
            <div class="row">
            <div class="col-md-2 col-sm-0"></div>
                <div class="col-md-8 col-sm-12">
                    <h2>{{ 'terms.header'|trans }}</h2>
                    <p> {{ 'terms.ingress'|trans }}</p>
                    {{ 'terms.list'|trans({'%municipalities%': start_friend_municipalities()}) | raw }}
                    <p>{{ 'terms.outro'|trans }}</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
