{% extends 'base.html.twig' %}

{% block body %}

<div class="inner-page">
    <div class="container">
        <h2><strong>Samarbeta med oss</strong></h2>
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <h3>Våra värdefulla samarbeten</h3>
                <p>
                    <strong>Stort tack till Svenska Postkodstiftelsen</strong> som stöttar Kompisbyrån. Tack vare detta
                    bidrag har vi fått möjlighet att effektivisera vårt arbete genom att bl.a. utveckla vårt datasystem
                    och hemsida.
                </p>
                <p>
                    Tidigare i år belönades Kompisbyrån med <a
                        href="http://www.sigtunastiftelsen.se/kompisbyran-far-abrahams-barns-pris-2015/)"
                        target="_blank"
                    >Abrahams Barns pris</a> av Sigtunastiftelsen, med motiveringen att Kompisbyrån skapar
                    förutsättningar för mötesplatser i vardagen där ett kulturellt utbyte kan ske mellan personer som
                    annars inte skulle ha träffats. “Vi vill därför uppmuntra initiativ som Kompisbyrån eftersom de,
                    liksom Abrahams Barn, önskar delta i byggandet av ett inkluderande samhälle”, säger Elisabet
                    Mattizon Armgard, pogramsekreterare för Abrahams Barn.
                </p>
                <p>
                    Vi samarbetar med en rad olika <strong>SFI-skolor</strong> där vi besöker klasser och berättar mer
                    om oss. Jobbar du på SFI eller motsvarande och vill samarbeta? Maila oss så berättar vi mer!
                </p>

                <h3>Stöd oss!</h3>
                <p>
                    Kompisbyrån växer så att det knakar! <strong>Vi söker därför sponsorer och samarbetspartners
                    </strong> som vill finansiera vår verksamhet så att vi kan fortsätta länka samman nya och etablerade
                    svenskar. Så att vi kan fortsätta att skapa nya kontaktytor och ge fler möjlighet att öva svenska.
                    Och när man väl kan språket blir det lättare att skaffa ett jobb, en bostad och nya vänner.
                </p>
                <p>
                    Vi har idag länkat samman människor från 63 länder - låt oss fortsätta med det! Och låt oss växa och
                    ge fler människor möjlighet att ta del av ett öppnare samhälle.
                </p>
                <p>
                    Maila <a href="mailto:emma@kompisbyran.se">emma@kompisbyran.se</a>, alla tips mottages väldigt
                    tacksamt!
                </p>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="partner-wrapper">
                    <img src="{{ asset('images/postkodstiftelsen.jpg') }}" class="partner-logo">
                    <img src="{{ asset('images/sigtuna.png') }}" class="partner-logo">
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}
