{% extends 'base.html.twig' %}

{% block body %}

<div class="inner-page">
    <div class="container">
        <h2><strong>Stöd oss</strong></h2>
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <h3>Stöd oss!</h3>
                <p>
                    Vill du som privatperson, företag, kommun eller annan organisation, stötta en förening som hjälper 
                    tusentals människor att få ett socialt sammanhang i samhället? På Kompisbyrån jobbar vi aktivt för 
                    att skapa nya kontaktytor mellan nya och etablerade svenskar och ge fler chansen att öva svenska i 
                    vardagen. 7 av 10 jobb förmedlas via kontakter och genom oss breddar och berikar människor sina 
                    kontaktnät och får mer språkträning. Då blir det mycket lättare att komma in på arbetsmarknaden, 
                    få en egen bostad och hitta nya kompisar. Stöd oss till ett öppnare samhälle där alla kan känna sig 
                    delaktiga och välkomna. Maila <a href="mailto:emma@kompisbyran.se">emma@kompisbyran.se</a> så 
                    berättar vi mer om hur du kan stötta vår verksamhet.
                </p>

                <h3>Tack till...</h3>
                <p>
                    <strong>Svenska Postkodstiftelsen</strong> som stöttar Kompisbyrån. Tack vare detta
                    bidrag har vi fått möjlighet att effektivisera vårt arbete genom att bl.a. utveckla vårt datasystem
                    och hemsida.
                </p>
                <p>
                    <strong>Sigtunastiftelsen</strong> som 2015 belönade Kompisbyrån med <a
                        href="http://www.sigtunastiftelsen.se/kompisbyran-far-abrahams-barns-pris-2015/)"
                        target="_blank"
                    >Abrahams Barns pris</a>, med motiveringen att Kompisbyrån skapar förutsättningar 
                    för mötesplatser i vardagen där ett kulturellt utbyte kan ske mellan personer som
                    annars inte skulle ha träffats. “Vi vill därför uppmuntra initiativ som Kompisbyrån eftersom de,
                    liksom Abrahams Barn, önskar delta i byggandet av ett inkluderande samhälle”, säger Elisabet
                    Mattizon Armgard, programsekreterare för Abrahams Barn.
                </p>
                <p>
                    <strong>Övriga samarbeten</strong>
                </p>    
                <p>
                    Vi samarbetar med olika språkskolor där vi besöker klasser och berättar mer om oss. 
                    Jobbar du på SFI eller motsvarande och vill samarbeta? Kontakta oss så bokar vi in en tid.  
                </p>

            </div>

            <div class="col-md-4 col-sm-12">
                <div class="partner-wrapper">
                    <img src="{{ asset('images/postkodstiftelsen.jpg') }}" class="partner-logo">
                    <img src="{{ asset('images/sigtuna.png') }}" class="partner-logo">
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}
