{% extends "FOSUserBundle::layout.html.twig" %}

{% block body %}
    <div class="inner-page sign">
        <div class="container">
            <div class="sign-content">

                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <!-- Sign In Area -->
                        <div class="sign-in">
                            <h3><i class="fa fa-user red"></i> &nbsp;{{ 'register.login.header'|trans }}</h3>
                            <!-- Sign in Form Start -->
                            {{ render(controller('FOSUserBundle:Security:login')) }}
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <p>
                            {{ 'login.text'|trans({
                                '%link_start%': '<a href="' ~ path('fos_user_registration_register') ~ '">',
                                '%link_end%': '</a>'
                            })|raw }}

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


